Bud fill the form

<div class="form-group">
    <label for="title">Title</label>
    <input required type="text" name="title" id="title" class="form-control">

</div>

<div class="form-group">
    <label for="description">Description</label>
    <textarea name="description" id="description" class="form-control"></textarea>

</div>

<div class="form-group">
    <label for="markdown">Markdown</label>
    <textarea name="markdown" id="markdown" class="form-control"></textarea>

</div> 

    <a href="/" class="btn btn-secondary">Cancel</a>

    <button type="Submit" class="btn btn-primary">Save</button> 